html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    color: black;
    background-color:lightgrey; /** propriété body**/
}
/** header section start **/
header {
    display: flex;
    align-items: center;
    background-image: url("photos/cosmos.jpg");
    background-size: cover;
    opacity: 0.85;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .2em;
}
.nom{ /**propriete du contenant dans header**/
    float: right;
    width: 60%;
}
h1 { /** propiété de texte h1 header**/ 
    text-align: center;
    font-family: 'Sacramento', serif, cursive;
    font-size: 2em;
    font-weight: bolder; 
    color:white;
    text-shadow: 2em .09em .1em rgb(93, 35, 116);
    margin: 0;
}

header img { /**propriété image du header**/
    display: block;
    width: 100px;
    height: 100px; 
}

.img-circle {
    border: 3px solid black;
    border-radius: 50%;
}
#langue{
    justify-content: flex-end;
}

/** header section end **/

    /** Nav bar section start **/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
top: 0;/* Set the navbar to the top */
width: 100%;/* Set the navbar full screen size */
font-weight: bold;
font-size: 1.125em;
border-radius:.3em;
} 

li {
float: left;
    } 

li a {
display: block;
color: black;
text-align: center;
padding: 1em;
text-decoration: none;
} 

li a:hover {
background-color: darkgrey;
}

.onglet-actif {
background-color: rgb(111, 109, 114); /*highlight onglet actif*/
} 
            /** Nav bar section end **/

/** onglet meteo start**/
.meteo{
padding-top: 2em;
padding-bottom: 2em;
width: 12.5em;
height: 10em;
}
/** onglet meteo end**/

/** gestion progress bar page 2 start**/
.conteneur{
background-image: url(https://thumbs.gfycat.com/BrilliantOpulentDragon-size_restricted.gif);
background-repeat: space;
background-size: cover;
background-position: center;
color:white;
display: flexbox;
padding-bottom: 1em;
}

h2 {
font-size: 1.1em;
color: #695cd5;
text-align: center;
padding: 18px 0 18px 0;
margin: 0 0 10px 0;
}
                
h2 span {
border-radius: .625em;
border: 4px solid #695cd5;
padding: 0.625em;
}

h2:hover{
background-color: brown; 
}

pre{
width: 20%;
}

progress {
float: right;
width: 60%;
height: 1.5em;
color: #3fb6b2;
background: #efefef;
list-style-type: decimal;
}

progress::-webkit-progress-bar {
background: #efefef;
}

progress::-webkit-progress-value {
background: #3fb6b2;
} 

progress::-moz-progress-bar {
color: #3fb6b2;
background: #efefef;
}
       /** gestion progress bar page 2 end**/

        /* section copyright start*/
footer {
        font-size: .85em;
        text-align: right;
        color: black;
}
        /* section copyright end*/

    /* section quote start*/
 .quote {
    font-size: 1em;
    text-align: left;
    padding-top: 1.7em;
    padding-bottom: .625em;
    color: rgb(117, 25, 105);
}
    /* section quote end*/
h3 {
    text-align:center;
}
/* section video start*/
.video{
    display: flex;
    justify-content: center;
    max-height: 500px;
    padding: .8em;


}


/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    max-width: 60%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 12.5em;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* section video end*/