html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(65, 112, 136);
}

main {/** propriété main**/
    display: block;
    color: black;
    background-image:url("photos/artificial-intelligence.jpg");
    background-color: rgb(65, 112, 136);
    background-size: cover;
    opacity: 0.55;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .2em;
 
}
/** header section start **/
header {
    display: flex;
    align-items: center;
    background-image: url("photos/cosmos.jpg");
    background-size: cover;
    opacity: 0.85;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .2em;
}
.nom{ /**propriete du contenant dans header**/
    float: right;
    width: 60%;
}
h1 { /** propiété de texte h1 header**/ 
    text-align: center;
    font-family: 'Sacramento', serif, cursive;
    font-size: 2em;
    font-weight: bolder; 
    color:white;
    text-shadow: 2em .09em .1em rgb(93, 35, 116);
    margin: 0;
}

header img { /**propriété image du header**/
    display: block;
    width: 100px;
    height: 100px; 
}

.img-circle {
    border: 3px solid black;
    border-radius: 50%;
}
#langue{
    justify-content: flex-end;
}

/** header section end **/

/** Nav bar section start **/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
top: 0;/* Set the navbar to the top */
width: 100%;/* Set the navbar full screen size */
font-weight: bold;
font-size: 1.125em;
border-radius:.3em;
} 

li {
float: left;
    } 

li a {
display: block;
color: black;
text-align: center;
padding: 1em;
text-decoration: none;
} 

li a:hover {
background-color: darkgrey;
}

.onglet-actif {
background-color: rgb(111, 109, 114); /*highlight onglet actif*/
} 
/** Nav bar section end **/


/** gestion progress bar page comp start**/

.language{
background-image: url(https://thumbs.gfycat.com/BrilliantOpulentDragon-size_restricted.gif);
background-repeat: space;
background-size: cover;
background-position: center;
color:white;
display: flexbox;
padding-bottom: 1em;
}

h2 {
font-size: 1.1em;
color: #695cd5;
text-align: center;
padding: 18px 0 18px 0;
margin: 0 0 10px 0;
}
                
h2 span {
border-radius: .625em;
border: 4px solid #695cd5;
padding: 0.625em;
}

h2:hover{
background-color: brown; 
}

pre{
width: 20%;
}

progress {
float: right;
width: 60%;
height: 1.5em;
color: #3fb6b2;
background: #efefef;
list-style-type: decimal;
}

progress::-webkit-progress-bar {
background: #efefef;
}

progress::-webkit-progress-value {
background: #3fb6b2;
} 

progress::-moz-progress-bar {
color: #3fb6b2;
background: #efefef;
}
/** gestion progress bar page comp end**/

/** gestion front&back end page 2 start**/
.front{
    background-image: url("photos/maquette.jpg");
    background-size: cover;
    background-position: center;
    color:white;
    padding-bottom: 1em;
    filter: brightness(55%);
    filter: contrast(95%);
    opacity: 95%;
    }

.Back{
    background-image: url("photos/web.png");
    background-size: cover;
    background-position: center;
    color:white;
    padding-bottom: 1em;
    filter: brightness(70%);
    }

h4{
    font-size: 1.5em;
    color: black;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 10px 0 10px 0;
}
h4 span {
    border-radius: .625em;
    border: 4px solid black;
    padding: 0.625em;
    }

form {
    width: 400px;
    margin: 0 auto;
  }
  
section {
    margin-bottom: 10px;
    color: black;
    font-size: 1.2em;
  }
  /** gestion fieldset et legend pricipal Front-End Start**/
  #front-end { /** gestion parametre fieldset front-end**/
    border: 5px solid  rgb(12, 12, 139);
    margin-top: 3px;
  }

  #front-end-legend {/** gestion parametre legend front-end**/
    padding: 10px;
    background: rgb(230, 191, 17);
    font-size: 1.2em;
    color: black; 
  }
  /** gestion fieldset et legend pricipal Front-End End**/

  /** gestion fieldset et legend 1 Front-End Start**/

  #front-end-validation1{ /** gestion parametre boite validation**/
    border: 5px solid  rgb(82, 168, 108);
    margin-top: 3px;
}

 #front-end-legend1{ /** gestion parametre legende1 dans boite validation**/
  padding: 10px;
  background: rgb(82, 168, 108);
  font-size: 1.2em;
  color: black; 
}
/** gestion fieldset et legend 1 Front-End End**/

  /** gestion fieldset et legend 2 Front-End Start**/

  #front-end-validation2{ /** gestion parametre boite validation**/
    border: 5px solid  rgb(133, 8, 138);
    margin-top: 3px;
}

 #front-end-legend2{ /** gestion parametre legende1 dans boite validation**/
  padding: 10px;
  background: rgb(121, 23, 179);
  font-size: 1.2em;
  color: black; 
}
/** gestion fieldset et legend 2 Front-End End**/

  /** gestion fieldset et legend 3 Front-End Start**/

  #front-end-validation3{ /** gestion parametre boite validation**/
    border: 5px solid  rgb(212, 14, 57);
    margin-top: 3px;
}

 #front-end-legend3{ /** gestion parametre legende3 dans boite validation**/
  padding: 10px;
  background: rgb(207, 24, 48);
  font-size: 1.2em;
  color: black; 
}
/** gestion fieldset et legend 3 Front-End End**/



  #back-end { /** gestion parametre fieldset back-end**/
    border: 5px solid  rgb(57, 57, 58);
    margin-top: 3px;
  }

   legend {/** gestion parametre legend principal**/
    padding: 10px;
    background: rgb(118, 118, 119);
    font-size: 1.2em;
    color: black; 
  }
  /** gestion fieldset et legend pricipal Back-End End**/

  /** gestion fieldset et legend 1 Back-End Start**/

#validation1{ /** gestion parametre boite validation**/
    border: 5px solid  rgb(4, 4, 179);
    margin-top: 3px;
}

 #legend1{ /** gestion parametre legende1 dans boite validation**/
  padding: 10px;
  background: rgb(4, 4, 179);
  font-size: 1.2em;
  color: black; 
}
/** gestion fieldset et legend 1 Back-End End**/

/** gestion fieldset et legend 2 Back-End Start**/

#validation2{ /** gestion parametre boite validation**/
    border: 5px solid  rgb(11,214, 112);
    margin-top: 3px;
}

#legend2{ /** gestion parametre legende2 dans boite validation**/
    padding: 10px;
    background: rgb(11, 214, 112);
    font-size: 1.2em;
    color: black; 
  }
  /** gestion fieldset et legend 2 Back-End End**/

/** gestion fieldset et legend 3 Back-End Start**/

#validation3{ /** gestion parametre boite validation**/
    border: 5px solid  rgb(266,70, 9);
    margin-top: 3px;
}
  #legend3{ /** gestion parametre legende3 dans boite validation**/
    padding: 10px;
    background: rgb(226, 70, 9);
    font-size: 1.2em;
    color: black; 
  }
  /** gestion fieldset et legend 3 Back-End End**/

  #otherValue
  {
    display: none;
  }
  
  #other:checked ~ #otherValue
  {
    display: inline-block;
  }
  
.undemi{
    display: flex;
    justify-content: space-around;
}

/** gestion front&back end page 2 end**/



        /* section copyright start*/
footer {
        font-size: .85em;
        text-align: right;
        color: black;
}
        /* section copyright end*/

    /* section quote start*/
 mark {
    font-size: 1em;
    text-align: left;
    padding-top: 1.7em;
    padding-bottom: .625em;
    color: rgb(117, 25, 105);
}
    /* section quote end*/
h3 {
    text-align:center;
}
/* section video start*/
.video{
    display: flex;
    justify-content: center;
    max-height: 500px;
    padding: .8em;


}


/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    max-width: 60%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 12.5em;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* section video end*/